body {
    margin: 0;
    background-color: black;
}




.bg-img-wrapper {
    background-image: url(1.bg.png);
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}

.bg-img-wrapper_1 {
    background-image: url(mountain_2.png);
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
}

.container {
/*        background-color: rgba(0, 0, 0, 0.53);*/

}

.logo {
    max-width: 7%;
    position: fixed;
}

h1 {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
}

p {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
}

.copy {
    font-size: calc(0.6rem + 1vw);
}

@media (min-width: 1200px) {
    .title {
        font-size: 4rem;
    }
}
